<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/parent.css"> 
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="header">
        <img alt="NBDiff" src="../static/image/logo.png"/>
        <ul class="navigation">
            <li><a href="/upload">Compare iPython Notebook</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>
    </div>
    <br/>
    <div class="container">{% block content %}{% endblock %}</div>
    <div class="footer">
        <p>Service is available under the MIT License. <br/>
           This project is currently under heavy development by a team of university students. See <a href="/contact-us">Contact Us</a> for more information.<br/>
           Documentation: <a href="http://nbdiff.rtfd.org">http://nbdiff.rtfd.org</a> <br/>
        </p>
    </div>
  </body>
</html>
