td {
	vertical-align: top;
}

.cell {
	min-height: 25px;
    border-color: #FF0000;
    border-style: solid;
    border-width: 1px;
}

/*pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	width:1000px;
	background-color: #E8E8E8;
}
.textDiv {
	overflow-y:scroll;
	overflow-x:scroll;
	resize:both;
}*/